.logged{
  font-size: large;
  background-color: hsl(240, 70%, 20%);
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.notlogged{
  font-size: large;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  color: white;

}